<html>
<head>
<link
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet">

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="app.js"></script>
<style>
.glyphicon-thumbs-up {
	cursor: pointer
}
</style>
<title>Getting to Philosophy!</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="app.js"></script>
</head>

<body ng-app="PhilosophyWiki" ng-controller="MainCtrl">

	<div class="row" text-align="center">
		<div class="col-md-6 col-md-offset-3">
			<div class="page-header">
				<h1>Getting to Philosophy</h1>
			</div>


			<form ng-submit="findPhilosophy()" style="margin-top: 30px;">
				<h3>Add new WikiLink</h3>

				<div class="form-group">
					<input class="form-control oditek-form" type="url"
						placeholder="Paste Wikipedia link here" ng-model="wikiLink"
						required></input>
				</div>

				<button type="submit" class="btn btn-primary">Post</button>
			</form>

			<div style="width: 100%">

				<div
					style="display: table; margin: 0 auto; border-collapse: separate; border-spacing: 10px">
					<img id="loadingSpinner" src="giphy.gif" width="144px"
						height="173px" ng-show="loading">
				</div>

				<div ng-hide="postdata" ng-repeat="x in PostDataResponse" style="{{getRandomColor($index)}}">
					<div
						style="padding: 10px; text-align: center; vertical-align: middle; font-size: 20px; font-weight: bolder">
						<p>{{x}}</p>
					</div>

				</div>

				<div ng-hide="hopshide" style="margin-top:20px;width:100%;text-align: center;font-size:20px">
					<p>We took {{hops}} hops!</p>
				</div>


			</div>

		</div>

	</div>
</body>
</html>